---
BasedOnStyle: Microsoft

AllowAllArgumentsOnNextLine: 'false'
AllowShortFunctionsOnASingleLine: InlineOnly
AllowShortLambdasOnASingleLine: Inline
AlwaysBreakBeforeMultilineStrings: 'false'
AlwaysBreakTemplateDeclarations: Yes
IndentPPDirectives: BeforeHash
UseTab: Never

Language: Cpp
Standard: c++20
ColumnLimit: 150

...
