---
Checks: >
  -*,
  bugprone-*,
  -bugprone-bool-pointer-implicit-conversion,
  -bugprone-easily-swappable-parameters,
  -bugprone-assignment-in-if-condition,
  cert-*,
  concurrency-mt-unsafe,
  misc-*,
  -misc-no-recursion,
  modernize-deprecated-headers,
  modernize-deprecated-ios-base-aliases,
  modernize-pass-by-value,
  modernize-raw-string-literal,
  modernize-redundant-void-arg,
  modernize-return-braced-init-list,
  modernize-use-auto,
  modernize-use-bool-literals,
  modernize-use-default-member-init,
  modernize-use-equals-default,
  modernize-use-equals-delete,
  modernize-use-nodiscard,
  modernize-use-noexcept,
  modernize-use-nullptr,
  modernize-use-override,
  modernize-use-transparent-functors,
  modernize-use-using,
  performance-*,
  readability-*,
  -readability-implicit-bool-conversion,
  -readability-magic-numbers
WarningsAsErrors: ''
HeaderFilterRegex: '(?:Engine(\/|\\)Source(\/|\\)(Modules|Tools)).*(hpp|cpp)$'
FormatStyle:       'file'
User:              brian

CheckOptions:
  - key: bugprone-assert-side-effect.AssertMacros
    value: 'we_assert,we_check'
  - key: bugprone-dangling-handle.HandleClasses
    value: TArrayView;CStringView
  - key: bugprone-string-constructor.StringNames
    value: CString
  - key: bugprone-suspicious-string-compare.StringCompareLikeFunctions
    value: CStringUtils::Compare
  - key:  modernize-use-nodiscard.ReplacementString
    value:  NDISCARD
  - key:  performance-faster-string-find.StringLikeClasses
    value:  CString;CStringView
  - key:  performance-inefficient-vector-operation.VectorLikeClasses
    value:  TArray;TArrayView
    
  - key:             readability-identifier-naming.ClassCase
    value:           CamelCase
  - key:             readability-identifier-naming.EnumCase
    value:           CamelCase
  - key:             readability-identifier-naming.FunctionCase
    value:           CamelCase
  - key:             readability-identifier-naming.FunctionIgnoredRegexp
    value:           (begin|end|rbegin|rend)
  - key:             readability-identifier-naming.PrivateMethodCase
    value:           CamelCase
  - key:             readability-identifier-naming.VariableCase
    value:           camelBack
  - key:             readability-identifier-naming.ParameterCase
    value:           camelBack
  - key:             readability-identifier-naming.EnumPrefix
    value:           E
  - key:             readability-identifier-naming.PrivateMemberPrefix
    value:           m
  - key:             readability-identifier-naming.AbstractClassPrefix
    value:           I
  - key:             readability-identifier-naming.ClassPrefix
    value:           C
  - key:             readability-identifier-naming.ClassConstantPrefix
    value:           k
  - key:             readability-identifier-naming.StaticConstantPrefix
    value:           k
  - key:             readability-identifier-naming.StructPrefix
    value:           S
  - key:             readability-identifier-naming.TemplateParameterSuffix
    value:           Type
  - key:             readability-identifier-naming.ParameterPackPrefix
    value:           packed
  - key:             readability-identifier-naming.IgnoreMainLikeFunctions
    value:           1
  - key:             readability-identifier-naming.GetConfigPerFile
    value:           false
  - key:			 readability-identifier-naming.MacroDefinitionCase
    value:           UPPER_CASE
  - key:			 readability-identifier-naming.MacroDefinitionIgnoredRegexp
    value:           (wclass|wstruct|wenum|we_.*)
  - key:             readability-function-cognitive-complexity.Threshold
    value:           143
  - key:             readability-magic-numbers.IgnorePowersOf2IntegerValues
    value:           1
...
