# Visual Studio generated .editorconfig file with C++ settings.
root = true

[*]
indent_style = tab
indent_size = 2
end_of_line = lf
charset = utf-8

cpp_generate_documentation_comments = doxygen_slash_star