###############################################################################
# Set default behavior to automatically normalize line endings.
###############################################################################

*.bat eol=crlf
*.sh eol=lf