###############################################################################
# Set default behavior to automatically normalize line endings.
###############################################################################
*.cpp eol=lf
*.hpp eol=lf

*.bat eol=crlf
*.sh eol=lf